.Header__title {
  width: 100%;
  font-size: 50px;
  font-family: lato;
  font-weight: 400;
  text-align: center;
  color: $green-light;
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
  padding: 20px 0;
}
